@using SoulWorkerPropertySimulator.Services
@using SoulWorkerPropertySimulator.Models
@using SoulWorkerPropertySimulator.Web.Shared.Effects
@implements IDisposable
@inject IDataProvideService Data
@inject IArmorComputeService ArmorCompute

<div>
    @if (Options.Any())
    {
        <div>
            <select @bind="Selected">
                <option></option>
                @foreach (var item in Options)
                {
                    <option value="@item.GetHashCode()">@item.Name</option>
                }
            </select>
        </div>
        @if (SelectedBlueprint != null && SelectedBlueprint.ValidStep.Count > 1)
        {
            <div>
                <div>強化 +</div>
                <div>
                    <select @bind="SelectedStep">
                        @foreach (var i in SelectedBlueprint.ValidStep)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
        }

        @if (SelectedBlueprint != null && SelectedBlueprint.RandomEffectCount > 0)
        {
            <EffectsCreator @ref="_effectsCreator" NotifyUpdate="NotifyUpdate" Blueprint="SelectedBlueprint" DefaultEffects="DefaultPlugin?.SelectedEffect"/>
        }
    }
</div>

@code
{
    private PluginsCreator? _parents;

    [CascadingParameter(Name = nameof(Parents))]
    public PluginsCreator? Parents
    {
        get => _parents;
        set
        {
            _parents?.Pickers.Remove(this);
            _parents = value;
            value?.Pickers.Add(this);
        }
    }


    [CascadingParameter(Name = nameof(Options))]
    public ICollection<PluginBlueprint> Options { get; set; } = null!;

    [Parameter]
    public EventCallback NotifyUpdate { get; set; }


    [Parameter]
    public Plugin? DefaultPlugin { get; set; }

    // private Plugin? _defaultPlugin;
    //
    // [Parameter]
    // public Plugin? DefaultPlugin
    // {
    //     get => _defaultPlugin;
    //     set
    //     {
    //         if (_notInitializePhase || _defaultPlugin != null) { return; }
    //         _defaultPlugin = value;
    //     }
    // }

    private int? _selected;

    public PluginBlueprint? SelectedBlueprint
    {
        set => Selected = value?.GetHashCode();
        get => Options.FirstOrDefault(x => x.GetHashCode() == _selected);
    }

    private int? Selected
    {
        get => _selected;
        set
        {
            if (_selected == value) { return; }
            _selected = value;
    // _notInitializePhase = _selected == null;
            // _selectedStep = SelectedBlueprint?.ValidStep?.Any() ?? false ? SelectedBlueprint.ValidStep.Max() : 0;
            if (SelectedBlueprint == null || SelectedBlueprint.RandomEffectCount == 0 || SelectedBlueprint.RandomEffects.Count > SelectedBlueprint.RandomEffectCount) { NotifyUpdate.InvokeAsync(); }
    // _notInitializePhase = true;
        }
    }

    private int _selectedStep;

    public int SelectedStep
    {
        get => _selectedStep;
        set
        {
            _selectedStep = value;
            NotifyUpdate.InvokeAsync();
    // if (_notInitializePhase) { NotifyUpdate.InvokeAsync(); }
        }
    }

    private EffectsCreator? _effectsCreator;

    public Plugin? Item
    {
        get
        {
            try { return SelectedBlueprint?.Create(_effectsCreator?.Effects); }
            catch (InvalidOperationException) {
                return null;
            }
        }
    }

    //private bool _notInitializePhase;

    //protected override void OnAfterRender(bool firstRender)
    //{
    //    base.OnAfterRender(firstRender);
    //    if (firstRender) { _notInitializePhase = true; }
    //}

    // private bool _parentInsertProtect = false;

    // public override async Task SetParametersAsync(ParameterView parameters)
    // {
    //     await base.SetParametersAsync(parameters);
    //
    //     if (!_parentInsertProtect && Parents != null)
    //     {
    //         Parents.Pickers.Add(this);
    //         _parentInsertProtect = true;
    //     }
    // }


    private bool _processDefault = false;

    protected override void OnInitialized()
    {
        base.OnInitializedAsync();
        _processDefault = DefaultPlugin != null;

    // if (DefaultPlugin != null)
    // {
    //     _selected = DefaultPlugin.Blueprint.GetHashCode();
    //     _selectedStep = DefaultPlugin.Step;
    // }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (_processDefault && DefaultPlugin != null)
        {
            _selected = DefaultPlugin.Blueprint.GetHashCode();
            _selectedStep = DefaultPlugin.Step;
            _processDefault = false;
        }
    }

    public void Dispose() => Parents?.Pickers.Remove(this);

    // private string? _selectedKey;
    //
    // private string? SelectedKey
    // {
    //     get => _selectedKey;
    //     set
    //     {
    //         if (_selectedKey == value) { return; }
    //         _selectedKey = value;
    //         Update();
    //     }
    // }
    //
    //
    // private decimal _selectedValue;
    //
    // private int SelectValue
    // {
    //     get => (int) (_selectedValue * 100);
    //     set
    //     {
    //         if (value < 0 || value > 100) { throw new InvalidOperationException(); }
    //         _selectedValue = value / 100m;
    //         Update();
    //     }
    // }
    //
    // private TagRare? _selectedTagRare;
    // private string? _selectedTagName;
    //
    // public int? SelectedTagRares
    // {
    //     get => (int?) _selectedTagRare;
    //     set
    //     {
    //         if (value == null)
    //         {
    //             _selectedTagRare = null;
    //             return;
    //         }
    //
    //         if (!Enum.IsDefined(typeof(TagRare), value)) { throw new InvalidOperationException(); }
    //         _selectedTagRare = (TagRare?) value;
    //         Update();
    //     }
    // }
    //
    // public string? SelectedTagName
    // {
    //     get => _selectedTagName;
    //     set
    //     {
    //         _selectedTagName = value;
    //         Update();
    //     }
    // }
    //
    // private IReadOnlyCollection<Tag> TagOptions => _selectedTagRare != null ? Data.GetTags(Field == ArmorField.Weapon ? TagField.Weapon : TagField.Gear, (TagRare) _selectedTagRare) : Array.Empty<Tag>();
    // private Tag? SelectedTag => TagOptions.FirstOrDefault(x => x.Name.Equals(_selectedTagName));
}