@using SoulWorkerPropertySimulator.Web.Services
@inherits LayoutComponentBase
@inject IPageNameService NameService

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4 justify-content-start">
            <h4 class="mb-0">@Title</h4>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>

    @* <div class="panel"> *@
    @*     <Panel /> *@
    @* </div> *@
</div>

@code
{
    private string? Title { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        NameService.OnChange += name =>
        {
            Title = name;
            StateHasChanged();
        };
    }
}