@page "/armor"
@using SoulWorkerPropertySimulator.Services
@using SoulWorkerPropertySimulator.Models
@using SoulWorkerPropertySimulator.Web.Services
@inject IArmorComputeService ArmorCompute
@inject IPageNameService NameService
@implements IDisposable

<div>
    @foreach (var field in _fields)
    {
        <ArmorPicker Field="field" DefaultArmor="Default.FirstOrDefault(x => x.Field == field)"/>
    }
</div>

@code {

    private readonly IReadOnlyCollection<ArmorField> _fields = new[] {ArmorField.Weapon, ArmorField.Head, ArmorField.Shoulder, ArmorField.Chest, ArmorField.Leg};

        public const string Title = "武器與防具";

    private ICollection<Armor> Default { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Default = ArmorCompute.Get().ToList();
        NameService.Set(Title);
    }

    public void Dispose() => NameService.Set(null);

}