@using SoulWorkerPropertySimulator.Services
@using SoulWorkerPropertySimulator.Models
@using SoulWorkerPropertySimulator.Web.Shared.Armor
@page "/armor"
@inject IArmorComputeService ArmorCompute

<h3>ArmorSetting</h3>

<div>
    <ArmorPicker Field="ArmorField.Weapon" DefaultArmor="Default.FirstOrDefault(x => x.Field == ArmorField.Weapon)"/>
    @* @foreach (var field in _fields) *@
    @* { *@
    @*     <ArmorPicker Field="field" DefaultArmor="_default.FirstOrDefault(x => x.Field == field)"/> *@
    @* } *@
</div>

@code {
    // private readonly IReadOnlyCollection<ArmorField> _fields = new[] { ArmorField.Head, ArmorField.Shoulder, ArmorField.Chest, ArmorField.Leg, ArmorField.Weapon };

    private ICollection<Armor> Default { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Default = ArmorCompute.Get().ToList();
    }

}