/* /Shared/EffectPicker.razor.rz.scp.css */
.form-floating > span[b-fchn0vjgy7] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-fqdybk26og] {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main[b-fqdybk26og] { flex: 1; }

.sidebar[b-fqdybk26og] { background-image: linear-gradient(180deg, rgb(5, 39, 103) 0, #3a0647 70%); }

.otherside[b-fqdybk26og] {
    right: 0;
    width: 15%;
}

.top-row[b-fqdybk26og] {
    align-items: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    display: flex;
    height: 3.5rem;
    justify-content: flex-end;
}

.top-row[b-fqdybk26og]  a, .top-row .btn-link[b-fqdybk26og] {
    margin-left: 1.5rem;
    white-space: nowrap;
}

.top-row a:first-child[b-fqdybk26og] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-fqdybk26og] { display: none; }

    .top-row.auth[b-fqdybk26og] { justify-content: space-between; }

    .top-row a[b-fqdybk26og], .top-row .btn-link[b-fqdybk26og] { margin-left: 0; }
}

@media (min-width: 641px) {
    .page[b-fqdybk26og] { flex-direction: row; }

    .sidebar[b-fqdybk26og] {
        height: 100vh;
        position: sticky;
        top: 0;
        width: 250px;
    }

    .top-row[b-fqdybk26og] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-fqdybk26og] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-x7odixid5h] {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-x7odixid5h] {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    height: 3.5rem;
}

.navbar-brand[b-x7odixid5h] { font-size: 1.1rem; }

.oi[b-x7odixid5h] {
    font-size: 1.1rem;
    top: -2px;
    vertical-align: text-top;
    width: 2rem;
}

.nav-item[b-x7odixid5h] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-x7odixid5h] { padding-top: 1rem; }

.nav-item:last-of-type[b-x7odixid5h] { padding-bottom: 1rem; }

.nav-item[b-x7odixid5h]  a {
    align-items: center;
    border-radius: 4px;
    color: #d7d7d7;
    display: flex;
    height: 3rem;
    line-height: 3rem;
}

.nav-item[b-x7odixid5h]  a.active {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item[b-x7odixid5h]  a:hover {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-x7odixid5h] { display: none; }

    .collapse[b-x7odixid5h] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
